<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <span class="site-title-text">{{ site.title | escape }}</span>
    </a>
    <nav class="site-nav">
      <a href="{{ "/" | relative_url }}" {% if page.url == "/" %}class="active"{% endif %}>About</a>
      <a href="{{ "/blog/" | relative_url }}" {% if page.url contains "/blog" or page.layout == "post" %}class="active"{% endif %}>Blog</a>
    </nav>
  </div>
</header>
